<?xml version="1.0" encoding="utf-8"?>
<!--
 | Version 10.1.1
 | Copyright 2012 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->
<ProxyConfig>
    <applicationURL>http://localgovtemplates2.esri.com/ExecutiveDashboardTryItLive/</applicationURL>
    <authenticationUrl>https://www.arcgis.com/sharing/generateToken</authenticationUrl>
    <dataUrlPrefixes>
        <dataUrlPrefix url="www.arcgis.com/sharing/rest/content/groups/" />
        <dataUrlPrefix authenticate="false" url="www.arcgis.com/sharing/" />
        <dataUrlPrefix authenticate="false" url="services.arcgisonline.com/ArcGIS/rest/" />
        <dataUrlPrefix authenticate="false" url="server.arcgisonline.com/ArcGIS/rest/" />
        <dataUrlPrefix authenticate="false" url="tasks.arcgisonline.com/ArcGIS/rest/" />
        <dataUrlPrefix authenticate="false" url="arcgis-tenone2012-1974758903.us-west-1.elb.amazonaws.com/arcgis/rest/" />
        <dataUrlPrefix authenticate="false" url="feeds.chicagotribune.com/chicagotribune/news" />
        <dataUrlPrefix authenticate="false" url="search.twitter.com/search.rss" />
        <dataUrlPrefix authenticate="false" url="api.bit.ly/v3/shorten?login=esri" />
    </dataUrlPrefixes>
    <username>oneOrMoreUsernamesSeparatedByCommas</username>
    <password>password</password>
    <tokenDurationMinutes>60</tokenDurationMinutes>
</ProxyConfig>
